#kt_wrapper:has(.page-white) {
    background-color: #ffffff !important;
}

#kt_content_container:has(.full-width-page) {
    max-width: none !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid .full-width-child {
    padding-left: 0px !important;
}

.full-width-child {
    margin-left: 88px;
    margin-right: 88px;
}

.add-feature-button {
    border: none;
    background-color: #e4e4e4;
    padding: 8px;
    border-radius: 4px;
}

.add-feature-button:hover {
    background-color: #cfcccc;
}


.add-epic-button {
    border: none;
    background-color: white;
    padding: 8px;
    border-radius: 6px;
}

.add-epic-button:hover {
    background-color: #cfcccc;
}

.assign-container {
    display: flex;
    align-items: baseline;
}

.assign-epic-button {
    border: none;
    background-color: cfcccc;
    padding: 8px;
    border-radius: 6px;
}

.assign-epic-button:hover {
    background-color: white;
}

.assigned-to-label {}

.delete-assignment {
    margin-top: 8px;
    border: none;
    background-color: transparent;
}

.delete-assignment:hover {
    background-color: transparent;
    color: red;
}

.droppable-feature {
    min-width: 300px;
    background-color: #f4f5f7;
    padding: 8px;
    border-radius: 6px;

    color: #44536f;
}


.delete-button {
    background-color: transparent !important;
    color: #44536f;
}

.delete-button:hover svg {
    color: red;
}


.options-button {
    background-color: transparent !important;
    color: #44536f;
}

.options-button:hover {
    background-color: transparent !important;
    color: #44536f;
}

.options-button:after {
    display: none !important;
}



.draggable-epic-container {
    width: 100%;
    border: 1px solid #e9ebef;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: white;
    box-shadow: 0px 1px 2px #7171716b;
    padding: 12px;
    padding-bottom: 0px;
}

.draggable-epic-content {
    background-color: transparent;
    color: #58667e;
}

.draggable-epic-container:hover {
    background-color: #f3f4f6;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

[contenteditable="true"].single-line br {
    display: none;

}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

.absence-row {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

.new-report-modal {
    width: fit-content;
}

.delete-report-action {}

.delete-report-action:hover {
    color: red;
}